.carousel-section {
    background-color: rgb(96, 92, 92);
    margin-top: -82px; 
    padding-right: 80px;
    padding-left: 80px;
}

.carousel-item img {
    border-radius: 20px;
    max-height: 490px; /* Establece la altura máxima de la imagen */
    width: 0px; /* Ajusta automáticamente el ancho para mantener la proporción */
}

/* Agrega una nueva regla para establecer el ancho deseado */
.carousel-item img {
    width: 100%; /* Establece el ancho al 100% del contenedor */
}

